* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
    color: #FFFFFF;
    max-width: 1600px;
}

header {
    color: #000000;
    padding: 16px 120px 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}


.nav-list a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    gap: 32px;
}


.btn {
    padding: 16px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.btn:hover{
    background-color: #437a55;
}

.btn-green {
    background: #469165;
    color: #FFFFFF;
    font-size: 16px;
    padding: 12.5px 16px;
}

.btn-white {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.hero {
    height: 674px;
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    margin: 0 auto;
    padding: 115.5px 120px 179.5px 120px;
}

.hero-content #early {
    display: inline-block;
    background: #ffffff;
    color: #469165;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}


.hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
}

#h1-1{
    color: #FFFFFF;
}

#h1-2{
    color: #30B868;
}

.hero p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.notes {
    max-height:448px ;
    text-align: center;
    margin: 0px 120px;
}

.notes h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 52px;
    margin-bottom: 16px;
    align-items: center;
}

.subtitle {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
    line-height: 20px;
    align-items: center;
}

.card-items {
    display: flex;
    gap: 24px;
}

.card {
    background: #FFFFFF;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 0 1px rgb(240, 231, 231);
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F95555;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 0 auto 25px;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #001931;

}

.card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.second-brain-solution {
  max-width: 1360px;
  max-height: 600px;
  margin: 120px;
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 20px;
}

.solution-left img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 12px;
}

.solution-right{
   padding: 102px 0px 102px 60px ;
}

.solution-right .Title {
  color: #469165;
  font-size: 16px;
  margin-bottom: 16px;
}

.solution-right h1 {
  font-size: 44px;
  margin: 16px 0;
  color: #001931;
  font-weight: bold;
}

.solution-right p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px;
}

.solution-right ul {
  list-style: none;
  color: #001931;
  font-size: 16px;
  line-height: 20px;
}

.solution-right li {
  padding-left: 0px;
  margin-bottom: 14px;
  font-size: 16px;
}