* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
    color: #FFFFFF;
    max-width: 1600px;
}

header {
    color: #000000;
    padding: 16px 120px 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}


.nav-list a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    gap: 32px;
}


.btn {
    padding: 16px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.btn:hover{
    background-color: #437a55;
}

.btn-green {
    background: #469165;
    color: #FFFFFF;
    font-size: 16px;
    padding: 12.5px 16px;
}

.btn-white {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.hero {
    height: 674px;
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    margin: 0 auto;
    padding: 115.5px 120px 179.5px 120px;
}

.hero-content #early {
    display: inline-block;
    background: #ffffff;
    color: #469165;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}


.hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
}

#h1-1{
    color: #FFFFFF;
}

#h1-2{
    color: #30B868;
}

.hero p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}